.main-page
  .row
    .span10.offset3
      %h1 Rails CRM
      %p
        Rails CRM is an opensource Customer Relations Management application. Intended to be similiar to Paid CRM's, Rails CRM is going to be the bare bones minimum for a CRM but yet can be cloned and modified however you please.
      %p
        Rails CRM uses Mongoid and Mongodb, Twitter Bootstrap, Devise for authentication, as well as HAML and SASS. I prefer to use nosql and Mongodb is our favorite. I looked at a few other opensource CRM's but did not find any that used mongodb. Rails CRM became a pet project and was a starting point for one of RebelHolds interns Rick Carlino.
    
  %br
  .row
    .span5.offset3
      %h1 Demo Rails CRM
      %p
        To try out Rails CRM, login using test@example.com and 'password'.  You will belong to a test organization.

    .span5
      %h1 Open Sourced
      %p
        Rails CRM is totally opensourced.  All code is available on github.
