body
  background: url(background.jpg) repeat
  p
    color: #5B5B5B
    font-family: 'Abel'
  a
    color: #0d2281
  a:hover
    text-decoration: none
.navbar
  font-family: 'Oswald',sans-serif
  font-size: 16px
  padding-bottom: 30px

  .brand
    font-family: 'Oswald'
    letter-spacing: -3px
    font-size: 60px
    color: #198469
    text-transform: uppercase
  .nav
    li
      a
        color: #198469
        font-size: 120%
      a:hover
        color: #3EC9A7
  .navbar-inner
    overflow: hidden
    background: #000000 url(header.png) repeat
    -moz-border-radius: 0em 0em 2em 2em
    border-radius: 0em 0em 2em 2em

.label
  padding-top: 5px

.sidebar
  list-style-type: none
  padding: 0
  margin: 0
  a
    color: #333
  a:hover
    color: #198469
    text-decoration: none

.user-nav
  position: absolute
  top: 115px

  ul 
    padding: 0
    margin: 0
    bottom: 30px

  li
    list-style-type: none
    float: left
    display: block
    padding-right: 60px
    color: #ddd
    font-size: 18px

    a
      color: #ddd
    a:hover
      color: #198469
      text-decoration: none

#push
  padding-top: 450px
.footer
  height: 40px
  width: 80%
  margin: 0 auto
  padding-top: 20px
  background-color: #111
  -moz-border-radius: 2em 2em 0em 0em
  border-radius: 2em 2em 0em 0em
  text-align: center
  color: #fff