body
  //background-color: #fff
  background: url(Light-Gray-Background.png) repeat
  p
    color: #5B5B5B
    font-family: 'Scada'
  a
    color: #198469
  a:hover
    color: red
    text-decoration: none
.navbar
  font-family: 'Oswald',sans-serif
  font-size: 16px
  background: #0b00d9 url(railscrm.png) no-repeat left
  height: 120px
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  .brand
    font-family: 'Oswald'
    letter-spacing: -3px
    font-size: 60px
    color: #198469
    text-transform: uppercase
  .nav
    li
      a
        color: #198469
        font-size: 120%
      a:hover
        color: #ddd
  .navbar-inner
    overflow: hidden
    padding-top: 50px


.label
  padding-top: 5px

.sidebar
  list-style-type: none
  padding: 0
  margin: 0
  a
    color: #333
  a:hover
    color: #198469
    text-decoration: none

.user-nav
  padding-bottom: 30px
  ul 
    padding: 0 
    margin: 0
  li
    list-style-type: none
    float: left
    display: block
    padding-right: 50px
    padding-bottom: 20px
    font-size: 20px
    a
      color: #11614e
      padding: 5px
      font-weight: bold
      background-color: #fff
      -moz-border-radius: 0.25em 0.25em 0.25em 0.25em
      border-radius: 0.25em 0.25em 0.25em 0.25em
      text-align: center
      moz-box-shadow: 0.15em 0.15em 0.15em #888
      webkit-box-shadow: 0.15em 0.15em 0.15em #888
      box-shadow: 0.15em 0.15em 0.15em #888

    a:hover
      color: #111
      text-decoration: none

#push
  padding-top: 300px
.footer
  height: 35px
  width: 600px
  margin: 0 auto
  padding-top: 20px
  background-color: #111
  -moz-border-radius: 2em 2em 2em 2em
  border-radius: 2em 2em 2em 2em
  text-align: center
  color: #fff

.main-page
  h1, p
    color: #198469
    font-size: 125%
    font-family: Helvetica
    line-height: 22px


.well
  moz-box-shadow: 3px 3px 3px #888
  webkit-box-shadow: 3px 3px 3px #888
  box-shadow: 3px 3px 3px #888
  moz-border-radius: 1em 1em 1em 1em
  border-radius: 1em 1em 1em 1em

.front-facing
  font-size: 120%
  p 
    padding-bottom: 20px
    line-height: 24px
    text-align: justify
